VITE_VAPID_PUBLIC_KEY=BHxacd_CxUxPuwPGqmyySkDTNHvop0IKLyZ3EExEmMMEDlMoFXntORvw_Ss7dI-2XNjoGRT-EZmUk5O4qEGZ76o
VAPID_PRIVATE_KEY=SchGx25Ck70ZzpiHBIB2zhiob5bSxEACbM38AqqyOIw
VAPID_EMAIL=mailto:admin@itwf.com
TMDB_API_KEY=
